*{
    margin: 0px;
    padding: 0px;
}


body{
    background:linear-gradient(rgb(77, 36, 78), rgb(24, 23, 24));
    background-size: 100vw 100vh;
}


.header{
    height: 70px;
}


#name{
    text-align: center;
    padding-top: 30px;
    font-size: 70px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}


#Recently{
    color: rgb(218, 214, 214);
    margin-top: 20px;
    font-size: larger;
}

.text{
    height: 300px;
    color: rgb(178, 187, 55);
    text-align: center;
    width:890px;
    margin-left: 300px;
    margin-top: 40px;
   border-radius: 10px;
   font-weight: bolder;
   font-style: oblique;
   font-family: Georgia, 'Times New Roman', Times, serif;
}


#placeholder{
    margin-top: 40px;
    height: 40px;
    width: 370px;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(207, 178, 178);
    text-decoration: rgb(231, 231, 231);
}


#randommealimage{
    margin-left: 100px;
    margin-right: 100px;
    height: 250px;
    width: 250px;
    border:3px solid black;
    border-radius: 10px;
    margin-top: 50px;
}


#nameofdish{
    margin-left: 30px;
    margin-top: 5px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}


#search{
    height: 90px;
    width: 50px;
    border-radius: 5px;
}

#latest{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
}


#latest img{
    width:300px;
    margin-top: 70px;
    border-radius: 10px;
    border:5px solid black;
}


button{
  height: 50px;
  width: 55px;
  border-radius: 5px;
  background-color: orange;
  margin-right: 20px;
}
 

.mainmodal{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


#temp{
    position: relative;
}


#modal{
    height: 450px;
    width: 350px;
    background-color: rgb(167, 167, 89);
    color: black;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    display: none;
    position: absolute;
    top: 3vw;
    left: 16vw;
}


#unorderedlist{
    text-align: left;
    margin-left: 8vw;
    margin-top: 2vw;
}


H2{
    text-align: center;
    margin-top: 20px;
    margin-left:90px;
}


.ingredients{
    display: flex;
    justify-content: space-between;
}


.ingredients img{
    width:50px;

}


#logo{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: 2px solid black;
}


/* Responnsive  */

 @media only screen and (max-width: 900px) {
    .header{
        height: 60px;
       
    }


    #name{
        text-align: center;
        padding-top: 26px;
        font-size: 33px;
     }

    
    .text{
        height: 300px;
        color: rgb(178, 187, 55);
        text-align: left;
        width:350px;
        margin-left: 17px;
        margin-top: 40px;
        font-size: 15px;
    }


    #Recently{
        color: rgb(218, 214, 214);
        margin-top: 20px;
        font-size: larger;
    }


    #placeholder{
        margin-top: 40px;
        height: 40px;
        width: 260px;
        border-radius: 10px;
        border-width: 5px;
    }


    
    #randommealimage{
        margin-left: 46px;
        margin-right: 100px;
        height: 250px;
        width: 250px;
        border:3px solid black;
        border-radius: 10px;
        margin-top: 27px;
    }


    #nameofdish{
        margin-left: 91px;
        margin-top: 5px;
    }

    
    #search{
        height: 90px;
        width: 50px;
        border-radius: 5px;
    }

    
    #latest{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
    }
    

    #latest img{
        width:100px;
        margin-top: 70px;
        border-radius: 10px;
        border:5px solid black;
    
    }
    

    .mainmodal{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #temp{
        position: relative;
    }


    #modal{
        height: 450px;
        width: 350px;
        background-color: rgba(223, 119, 119, 0.836);
        color: rgb(7, 7, 7);
        font-style: normal;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: medium;
        display: none;
        position: absolute;
        top: 3vw;
        left: 16vw;
    }
    
   
    #logo{
        width: 73px;
        height: 71px;
        border-radius: 50px;
        border: 2px solid black;
    }
    
  
}